@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.light {--main-color: #fff;--secondary-color: #000;}

body {
    background: var(--main-color);
    display: flex;
    flex-flow: column;
    margin: 51px 0 0;
    min-height: 100vh;
    position: relative;
}

article {
    background: var(--main-color);
    display: flex;
    flex-flow: column nowrap;
    width: 681px;
    height: fit-content;
    margin: 10px auto;
    border: 1px solid var(--secondary-color);
    padding: 20px 30px;
    cursor: text;
    font-family: "Noto Serif";
}

h1 {
    font: 900 2em "Noto Sans";
    margin-bottom: 0;
}

h2 {
    font: 700 1.5em "Noto Sans";
    margin-bottom: 0;
}

h3 {
    font: 600 1.25em "Noto Sans";
    margin-bottom: 0;
}

ol {
    margin: 0;
}

:is(h2, p) + p, p + :is(h2, h3) {
    margin-top: 0;
}

:is(h1, h1 + address) + p {
    margin-top: 0.83em;
}

hr {
    background: #000;
    border: none;
    height: 1px;
    width: 100%;
    margin: 0;
}

a:active {
    color: -webkit-link;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
}

article > :first-child {
    margin-top: 0;
}

article > :last-child {
    margin-bottom: 0;
}

header {
     background: var(--main-color);
    border-bottom: 1px solid var(--secondary-color);
    width: 743px;
    height: 30px;
    padding: 10px calc((100% - 743px) / 2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.logo {
    width: fit-content;
    height: 30px;
    font: 400 32px/1 "Coolvetica", "Noto Sans";
    color: var(--secondary-color);
    user-select: none;
}

.logo::before {
    content: '';
    background: var(--secondary-color);
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI4IDI3IiB3aWR0aD0iMjgiIGhlaWdodD0iMjciPjxzdHlsZT4uYXtmaWxsOiNmZWZlZmV9PC9zdHlsZT48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsYXNzPSJhIiBkPSJtMTQgMGwzLjMgMTAuMWgxMC43bC04LjcgNi4zIDMuMyAxMC4yLTguNi02LjMtOC43IDYuMyAzLjMtMTAuMi04LjYtNi4zaDEwLjd6bS0yIDExLjhoLTYuNWw1LjIgMy44LTIgNi4xIDUuMy0zLjggNS4yIDMuOC0yLTYuMSA1LjItMy44aC02LjVsLTEuOS02LjF6Ii8+PC9zdmc+) left center / contain no-repeat;
    padding: 15px;
}

.theme-changer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.light .theme-changer button {
    font: 400 14px "Noto sans";
    border: 1px solid var(--secondary-color);
    background: var(--main-color);
    color: var(--secondary-color);
    cursor: pointer;
}

[inactive] {
    opacity: 0.5;
    pointer-events: none;
}

button:active {
    border-style: dashed !important;
}
.ieksejais-vaks {
    background-size: 100%;
    background-repeat-y: repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
@media screen and (max-width: 780px){
    article {
        border: none;
        padding: 15px 20px;
        max-width: calc(100% - 40px);
        margin: 0;
    }
    header{
        padding: 10px 20px;
        width: calc(100% - 40px);
    }
}
