@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, ::before {transition:
    0.23s ease-in-out 0s background-color,
    0.23s ease-in-out 0s color,
    0.23s ease-in-out 0s border-color,
    0.23s ease-in-out 0s -webkit-mask;
}

body:is(.gaisi.tumsi, :not([class]), .tumsi) {
    --main-color: #1d1d1d;
    --secondary-color: #fff;
    --header-color: #343434;
}

body {
    --main-color: #eff4ff;
    --secondary-color: #000;
    --header-color: #d7dbe5;
    --link-color: #2d89ef;
    background-color: var(--main-color);
    display: flex;
    flex-flow: column;
    margin: 50px 0 0;
    min-height: calc(100vh - 50px);
    position: relative;
}

header {
    background-color: var(--header-color);
    width: 743px;
    height: 30px;
    padding: 10px calc((100% - 743px) / 2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    user-select: none;
    z-index: 1;
}

.logo {
    display: flex;
    width: fit-content;
    height: 30px;
    font: 900 32px/1 "Noto Sans";
    letter-spacing: -1px;
    color: var(--secondary-color) !important;
    text-decoration: unset;
    position: relative;
}

.logo::before {
    content: '';
    background: url('/socialistiska-biblioteka/favicon.svg') left center / contain no-repeat;
    padding: 15px;
    margin-right: 2px;
}

.visual-changer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5em;
}

.visual-changer button {
    font: 400 14px "Noto sans";
    border: 1px solid var(--secondary-color);
    background: transparent;
    color: var(--secondary-color);
    cursor: pointer;
}

button[inactive] {
    opacity: 0.5;
    border-style: solid !important;
    cursor: unset !important;
}

button:active {border-style: dashed;}

:not(a):focus-visible {
    outline: none;
    border-style: dashed;
    border-width: 1px;
}

article {
    background-color: var(--main-color);
    display: flex;
    flex-flow: column nowrap;
    width: 741px;
    height: fit-content;
    margin: 0 auto;
    padding: 20px 30px;
    cursor: text;
    font-family: "Noto Serif";
}

:is(article, footer) > :first-child {margin-top: 0;}

:is(address, article, p, ol, ul, li, footer) > * {color: var(--secondary-color);}

figure {display: contents;}

figcaption {opacity: 0.5;font-size: 0.9em;}

figure[iv="cover"] + h1 {margin-top: 0.25em;}

h1 {
    font: 700 2em "Noto Sans";
    margin-bottom: 0;
}

h2 {
    font: 700 1.5em "Noto Sans";
    margin-bottom: 0;
}

h3 {
    font: 600 1.25em "Noto Sans";
    margin-bottom: 0;
}

p + :is(h2, h3, p) {margin-top: 0;}

:is(h1, h1 + address) + :not(address) {margin-top: 0.83em;}

a{color: var(--link-color) !important;}

a:is(:active, :focus-visible) {outline: 1px dashed currentColor;}

:not(a):focus-visible {
    outline: none;
    border-style: dashed;
    border-width: 1px;
}

ol {margin: 0;}

ol ol {margin: 0.83em 0;}

hr {
    background-color: var(--secondary-color);
    border: none;
    height: 1px;
    width: 100%;
    margin: 0;
}

footer {
    background: var(--header-color);
    padding: 10px;
}

:is(article, footer) > :last-child {margin-bottom: 0;}

@media screen and (max-width: 815px) {
    header{
        padding: 10px 20px;
        width: calc(100% - 40px);
    }
    
    article {
        border: none;
        padding: 15px 20px;
        width: calc(100% - 40px);
        margin: 0;
    }
}

@media screen and (max-width: 642px) {
    .logo{font-size: 0px;}
}
